<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.pzjc.demo.dao.DemoDao">

	<resultMap id="allResultMap" type="com.ziroom.pzjc.demo.entity.Demo">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="createId" column="create_id" />
		<result property="createName" column="create_name" />
		<result property="lastModifyTime" column="last_modify_time" />
		<result property="lastModifyId" column="last_modify_id" />
		<result property="lastModifyName" column="last_modify_name" />
		<result property="isDel" column="is_del" />
		<result property="name" column="name" />
		<result property="birthday" column="birthday" />
	</resultMap>

	<sql id="allColumns">id,create_id,create_time,create_name,last_modify_id,last_modify_time,last_modify_name,is_del,name,birthday</sql>

	<insert id="insert" parameterType="com.ziroom.pzjc.demo.entity.Demo">
		<!-- mysql设置了自增长的表,插入数据后，获取id -->
		<selectKey keyProperty="id" resultType="long" order="AFTER" >
			SELECT LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO t_demo(<include refid="allColumns" />)
		VALUES(#{id},#{createTime},#{createId},#{createName},#{lastModifyTime},#{lastModifyId},#{lastModifyName},#{isDel},#{name},#{birthday})
	</insert>

<!-- 通用查询、删除、修改  开始 -->
	<sql id="sql_select">
		<choose>
			<when test="fields.size() > 0">
				<foreach item="field" collection="fields" separator=",">
					${field}
				</foreach>
			</when>
			<otherwise>
				<include refid="allColumns" />
			</otherwise>
		</choose>
	</sql>
	
	<sql id="sql_where">
		<if test='criterias!=null and criterias.size() > 0'>
			<where>
		        <foreach item="criteria" collection="criterias">
	            	<if test='criteria.valueType == "no"' >
	                	AND ${criteria.key} ${criteria.operator}
	                </if>
	                <if test='criteria.valueType == "single"' >
	                  	AND ${criteria.key} ${criteria.operator} #{criteria.value}
	                </if>
	                <if test='criteria.valueType == "list"' >
	                  	AND ${criteria.key} ${criteria.operator}
						<foreach item="item" collection="criteria.value" open="(" separator="," close=")">
						#{item}
						</foreach>
	                </if>
				</foreach>
	    	</where>
    	</if>
	</sql>
	
	<sql id="sql_orderBy">
		<if test='orderBys!=null and orderBys.size() > 0'>
			ORDER BY
			<foreach item="orderBy" collection="orderBys" separator=",">
				${orderBy.key} ${orderBy.direction}
			</foreach>
		</if>
	</sql>
	
	<sql id="sql_limit">
		<if test='offset!=null and limit!=null'>
			LIMIT ${offset},${limit}
		</if>
	</sql>

	<select id="commonSelectId" resultMap="allResultMap" parameterType="map">
		SELECT<include refid="sql_select" />FROM t_demo<include refid="sql_where" /><include refid="sql_orderBy" /><include refid="sql_limit" />
	</select>
	
	<select id="commonCountId" resultType="java.lang.Long" parameterType="map">
		SELECT count(1) FROM t_demo<include refid="sql_where" />
	</select>
	
	<update id="commonUpdateId" parameterType="map">
		UPDATE t_demo
		<set>
            <foreach item="k" collection="setParams.keys" separator=",">
            	<if test='setParams[k] != null'>    
			        ${k} = #{setParams[${k}]}
			    </if> 
			</foreach>
        </set>
        <include refid="sql_where" />
	</update>
	
	<update id="commonDeleteId" parameterType="map">
		UPDATE t_demo SET is_del=1
        <include refid="sql_where" />
	</update>
<!-- 通用查询、删除、修改  结束 -->	
</mapper>