<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hunter.sys.dao.SysRandomNumberDao">

    <resultMap id="allResultMap" type="com.hunter.sys.entity.SysRandomNumber">
        <id property="id" column="id"/>

        <result property="number" column="number"/>
        <result property="numberIsUsed" column="number_is_used"/>
        <result property="isDel" column="is_del"/>
        <result property="modifyTime" column="modify_time"/>

    </resultMap>


    <select id="findAll" resultMap="allResultMap">
        select * from sys_random_number where is_del=0
    </select>
    <select id="findOneById" resultMap="allResultMap" parameterType="long">
        select * from sys_random_number where is_del=0 and id=#{id}
    </select>

    <delete id="deleteById" parameterType="long">
        delete from sys_random_number where id=#{id}
    </delete>

    <select id="countValidNumber" resultType="long">
        select count(*) from sys_random_number where is_del=0 and number_is_used=0
    </select>

    <!--修改-->
    <update id="updateByEntity" parameterType="com.hunter.sys.entity.SysRandomNumber">
        update sys_random_number
        <set>
            <if test="number!=null">number=#{number},</if>
            <if test="numberIsUsed!=null">number_is_used=#{numberIsUsed},</if>
            <if test="isDel!=null">is_del=#{isDel},</if>
            <if test="modifyTime!=null">modify_time=#{modifyTime}</if>
        </set>
        where id=#{id}
    </update>
</mapper>