<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hunter.sys.dao.SysUserDao">
    <resultMap id="allResultMap" type="com.hunter.sys.entity.SysUser">
        <id property="id" column="id"/>

        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>

        <result property="isDel" column="is_del"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyName" column="modify_name"/>
    </resultMap>
    <sql id="tableColumn">
        (code,name,password,sex,phone,email,is_del,create_time,create_name,modify_time,modify_name)
    </sql>

    <sql id="beanProperty">
        (#{code},#{name},#{password},#{sex},#{phone},#{email},#{isDel},#{createTime},#{createName}
        ,#{modifyTime},#{modifyName})
    </sql>


    <!--增加数据-->
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id" parameterType="com.hunter.sys.entity.SysUser">
        insert into sys_user
        <include refid="tableColumn"></include>
        VALUES
        <include refid="beanProperty"></include>
    </insert>
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="tableColumn"></include>
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.code},#{item.name},#{item.password},#{item.sex},#{item.phone}
            ,#{item.sex},#{item.isDel},#{item.createTime},#{item.createName}
            ,#{item.modifyTime},#{item.modifyName})
        </foreach>
    </insert>


    <!--删除-->
    <delete id="deleteById">
        delete from sys_user where id=#{id}
    </delete>

    <delete id="deleteByIds">
        delete from sys_user where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <delete id="deleteByEntity" parameterType="com.hunter.sys.entity.SysUser">
        delete from sys_user where id=#{id}
    </delete>


    <!--修改-->
    <update id="updateByEntity" parameterType="com.hunter.sys.entity.SysUser">
        update sys_user
        <set>
            <if test="code !=null">code = #{code},</if>
            <if test="name !=null">name = #{name},</if>
            <if test="phone !=null">phone = #{phone},</if>
            <if test="sex !=null">sex = #{sex},</if>
            <if test="email !=null">email = #{email},</if>
            <if test="password !=null">password = #{password},</if>

            <if test="isDel !=null">is_del = #{isDel},</if>
            <if test="createTime !=null">create_time = #{createTime},</if>
            <if test="createName !=null">create_name = #{createName},</if>
            <if test="modifyTime !=null">modify_time = #{modifyTime},</if>
            <if test="modifyName !=null">modify_name = #{modifyName}</if>
        </set>
        where id=#{id}
    </update>

    <!--查询-->
    <select id="findAll" resultMap="allResultMap">
        select * from sys_user where is_del=0 order by create_time desc
    </select>

    <select id="findOneById" resultMap="allResultMap">
        select * from sys_user where is_del=0 and id=#{id}
    </select>

    <select id="findListByMap" parameterType="map" resultMap="allResultMap">
        select * from sys_user where is_del=0
        <foreach collection="paraMap" item="value" index="key">
            <if test="key=='name' and value !=null and value != '' ">and name like concat('%',trim(#{value}),'%')</if>
            <if test="key=='phone' and value!=null and value!=''">and phone like concat('%',trim(#{value}),'%')</if>
            <if test="key=='email' and value !=null and value != '' ">and email like concat('%',trim(#{value}),'%')</if>
            <if test="key=='code' and value!=null and value!=''">and code like concat('%',trim(#{value}),'%')</if>
        </foreach>
        order by create_time desc
    </select>

</mapper>