<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
                           
	<bean id="mybatisBaseDao" class="com.hunter.base.dao.MybatisBaseDao" scope="prototype">
		<property name="masterSqlSessionTemplate" ref="masterSqlSessionTemplate" />
		<property name="slaveSqlSessionTemplate" ref="slaveSqlSessionTemplate" />
	</bean>

	<bean id="jdbcBaseDao" class="com.hunter.base.dao.JdbcBaseDao">
		<property name="masterJdbcTemplate" ref="masterJdbcTemplate" />
		<property name="slaveJdbcTemplate" ref="slaveJdbcTemplate" />
	</bean>
</beans>